<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<!--<meta name="encoding" charset="utf-8" />-->

		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  esta etiqueta evita que el usuario haga zoom sobre la pantalla del dispositivo movil  -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<!--<meta http-equiv="X-UA-Compatible" content="IE=Edge" />-->


		<title>Guardar datos en Archivo JSON</title>

		<!-- FONTAWESOME    -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="	crossorigin="anonymous"/>		


	   <!--  CDN  G O O G L E   I C O N S --> 
	   <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">


	    <!-- JQUERY -->
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


		<!-- BOOSTRAP 4 -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	  


	    <!-- LETRA DE GOOGLE FONT  -->
	    <!-- Instalar letras de Google Fonts, Fuente: https://www.youtube.com/watch?v=LffuwO_m-k8&ab_channel=GrinoATP 
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet"> -->
		
		
		<link rel="stylesheet" type="text/css" href="css/xxxx.css"> 



		<!--<style type="text/css">
			
			#segundoFormulario, #tercerFormulario{

				display: none;
			}

		</style> -->

	</head>

	<body class="cuerpo">
		<div class="container-fluid">		
			<div class="row"> 
				
				

			</div>	
		</div>  		        		
	        	
		
	</body>
</html>